html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  color: #fff;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
  background-color: #333;
  text-decoration: none;

}

.btn:hover {
  background-color: #000;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-subtle {

}

.btn-subtle:hover {

}

.btn-ghost {

}

.btn-warning {

}

.btn-warning:hover {

}
